ochp-direct.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>

<!-- ===================================================================

                  OCHP-direct 0.2 Web Service Description

This document defines a standard interface between different parties in
the market of electric vehicle charging infrastructure and a clearing
house that provides a common data routing and exchange platform for all
these market shareholders.

Please note that the given documentation tags are not holding all
available information. For a full interface description please refer
to the OCHP specification PDF you can download from http://ochp.eu.


 Copyright Information:
This work is licensed under the Creative Commons
Attribution-NoDerivatives 4.0 International License.
To view a copy of this license, visit
http://creativecommons.org/licenses/by-nd/4.0/.

==================================================================== -->


<wsdl:definitions name="OCHP_direct_0.2"
	targetNamespace="http://ochp.eu/1.4" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:p="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://ochp.eu/1.4">

	<wsdl:documentation>
		Open Clearing House Protocol (OCHP) direct Extension Version 0.2
	</wsdl:documentation>

	<wsdl:import namespace="http://ochp.eu/1.4" location="ochp.wsdl"/>

	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://ochp.eu/1.4">

			<s:include schemaLocation="types/message-elements.xsd"/>

			<s:element name="AddServiceEndpointsRequest">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="unbounded" name="providerEndpointArray" type="tns:ProviderEndpoint">
							<s:annotation>
								<s:documentation>
									Array of endpoints of the partners provider system.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="unbounded" name="operatorEndpointArray" type="tns:OperatorEndpoint">
							<s:annotation>
								<s:documentation>
									Array of endpoints of the partners operator system.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="AddServiceEndpointsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
							<s:annotation>
								<s:documentation>
									This contains the result of AddServiceEndpoints.req
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="GetServiceEndpointsRequest">
				<s:complexType>
					<s:annotation>
						<s:documentation>
							Defines the GetServiceEndpoints.req.
						</s:documentation>
					</s:annotation>
				</s:complexType>
			</s:element>

			<s:element name="GetServiceEndpointsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
							<s:annotation>
								<s:documentation>
									This contains the result of GetServiceEndpoints.req
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="unbounded" name="providerEndpointArray" type="tns:ProviderEndpoint">
							<s:annotation>
								<s:documentation>
									Array of endpoints of all providers connected to the requester.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="unbounded" name="operatorEndpointArray" type="tns:OperatorEndpoint">
							<s:annotation>
								<s:documentation>
									Array of endpoints of all operators connected to the requester.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:complexType name="DirectEndpoint">
				<s:sequence>
					<s:element name="url" minOccurs="1" maxOccurs="1">
						<s:annotation>
							<s:documentation>
								The endpoint address.
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:pattern value="https:\/\/.+"></s:pattern>
								<s:maxLength value="255"></s:maxLength>
							</s:restriction>
						</s:simpleType>
					</s:element>
					<s:element name="namespaceUrl" minOccurs="1" maxOccurs="1">
						<s:annotation>
							<s:documentation>
								The WSDL namespace definition.
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:maxLength value="255"></s:maxLength>
								<s:enumeration value="http://ochp.eu/1.3"></s:enumeration>
								<s:enumeration value="http://ochp.eu/1.4"></s:enumeration>
							</s:restriction>
						</s:simpleType>
					</s:element>
					<s:element name="accessToken" minOccurs="1" maxOccurs="1">
						<s:annotation>
							<s:documentation>
								The secret token to access this endpoint.
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:maxLength value="255"></s:maxLength>
							</s:restriction>
						</s:simpleType>
					</s:element>
					<s:element name="validDate" minOccurs="1" maxOccurs="1">
						<s:annotation>
							<s:documentation>
								The date on which this endpoint/token combination is valid (plus overlap into day before and after).
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:length value="10"></s:length>
								<s:whiteSpace value="collapse"></s:whiteSpace>
								<s:pattern value="(\d\d\d\d)-(\d\d)-(\d\d)"></s:pattern>
							</s:restriction>
						</s:simpleType>
					</s:element>
				</s:sequence>
			</s:complexType>

			<s:complexType name="ProviderEndpoint">
				<s:complexContent>
					<s:extension base="tns:DirectEndpoint">
						<s:sequence>
							<s:element name="whitelist" type="tns:ContractPattern" minOccurs="1" maxOccurs="unbounded">
								<s:annotation>
									<s:documentation>
										List of patterns that match all Contract-IDs the endpoint is responsible for.
									</s:documentation>
								</s:annotation>
							</s:element>
							<s:element name="blacklist" type="tns:ContractPattern" minOccurs="0" maxOccurs="unbounded">
								<s:annotation>
									<s:documentation>
										List of patterns that match Contract-IDs the endpoint is not responsible for, but are matched by the whitelist.
									</s:documentation>
								</s:annotation>
							</s:element>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>

			<s:complexType name="OperatorEndpoint">
				<s:complexContent>
					<s:extension base="tns:DirectEndpoint">
						<s:sequence>
							<s:element name="whitelist" type="tns:EvsePattern" minOccurs="1" maxOccurs="unbounded">
								<s:annotation>
									<s:documentation>
										List of patterns that match all EVSE-IDs the endpoint is responsible for.
									</s:documentation>
								</s:annotation>
							</s:element>
							<s:element name="blacklist" type="tns:EvsePattern" minOccurs="0" maxOccurs="unbounded">
								<s:annotation>
									<s:documentation>
										List of patterns that match EVSE-IDs the endpoint is not responsible for, but are matched by the whitelist.
									</s:documentation>
								</s:annotation>
							</s:element>
						</s:sequence>
					</s:extension>
				</s:complexContent>
			</s:complexType>

			<s:simpleType name="ContractPattern">
				<s:annotation>
					<s:documentation>
						Defines a pattern that matches Contract-IDs. The pattern must be specified for IDs without optional seperators. The wildcard character for the pattern is %. The pattern as well as the ID is case sensitive.
					</s:documentation>
				</s:annotation>
				<s:restriction base="s:string">
					<s:pattern value="[A-Za-z]{2}[A-Za-z0-9]{3}[Cc][A-Za-z0-9]{0,8}%?"></s:pattern>
				</s:restriction>
			</s:simpleType>

			<s:simpleType name="EvsePattern">
				<s:annotation>
					<s:documentation>
						Defines a pattern that matches EVSE-IDs. The pattern must be specified for IDs without optional seperators. Seperators in the ID's instance are handled as part of the alphabet. The wildcard character for the pattern is %.
					</s:documentation>
				</s:annotation>
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}[A-Z0-9]{3}[E]([A-Z0-9]?[A-Z0-9\*]{0,30})%?"></s:pattern>
				</s:restriction>
			</s:simpleType>


<!-- Elements and types for the direct communication -->

			<s:complexType name="DirectResult" abstract="false">
				<s:annotation>
					<s:documentation>
						General result for OCHP-direct
					</s:documentation>
				</s:annotation>
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="resultCode" type="tns:DirectResultCodeType">
						<s:annotation>
							<s:documentation>
								The machine-readable result code.
							</s:documentation>
						</s:annotation>
					</s:element>
					<s:element minOccurs="1" maxOccurs="1" nillable="true" name="resultDescription">
						<s:annotation>
							<s:documentation>
								The human-readable error description
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:maxLength value="1000"></s:maxLength>
							</s:restriction>
						</s:simpleType>
					</s:element>
				</s:sequence>
			</s:complexType>

			<s:complexType name="DirectResultCodeType">
				<s:sequence>
					<s:element name="resultCode">
						<s:annotation>
							<s:documentation>
								ok: Data accepted and processed;
								partly: Not all control parameters could be applied;
								not-found: Given EVSE-ID is not known to the operator;
								not-supported: Given EVSE-ID does not support OCHP-direct;
								invalid-id: The DirectId is not valid or has expired;
								server: Internal server error;
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:enumeration value="ok"></s:enumeration>
								<s:enumeration value="partly"></s:enumeration>
								<s:enumeration value="not-found"></s:enumeration>
								<s:enumeration value="not-supported"></s:enumeration>
								<s:enumeration value="invalid-id"></s:enumeration>
								<s:enumeration value="server"></s:enumeration>
							</s:restriction>
						</s:simpleType>
					</s:element>
				</s:sequence>
			</s:complexType>

			<s:element name="DirectEvseStatusRequest">
				<s:complexType>
					<s:sequence>
						<s:element name="requestedEvseId" type="tns:EvseId" minOccurs="1" maxOccurs="unbounded">
							<s:annotation>
								<s:documentation>
									List of EVSE-IDs the live status is requested for.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="ReportDiscrepancyRequest">
				<s:complexType>
					<s:sequence>
						<s:element name="evseId" type="tns:EvseId" minOccurs="1" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									The charge point which is affected by the report.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="1" maxOccurs="1" nillable="false" name="report">
							<s:annotation>
								<s:documentation>
									Textual or generated report of the discrepancy.
								</s:documentation>
							</s:annotation>
							<s:simpleType>
								<s:restriction base="s:string">
									<s:maxLength value="2000"></s:maxLength>
								</s:restriction>
							</s:simpleType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="ReportDiscrepancyResponse">
				<s:complexType></s:complexType>
			</s:element>

			<s:element name="SelectEvseRequest">
				<s:complexType>
					<s:sequence>
						<s:element name="evseId" type="tns:EvseId" minOccurs="1" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									The charge point which is selected by the provider.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="contractId" type="tns:ContractId" minOccurs="1" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Contract-ID for which the charge point is selected.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="reserveUntil" type="tns:DateTimeType" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									The time until which a reservation of the charge point is requested from now on. It is recommended not to exceed 30 minutes of reservation.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="SelectEvseResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:DirectResult">
							<s:annotation>
								<s:documentation>
									This contains the result of SelectEvse.req.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="1" name="directId" type="tns:DirectId">
							<s:annotation>
								<s:documentation>
									The session id for this direct charging process on success.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="1" name="ttl" type="tns:DateTimeType">
							<s:annotation>
								<s:documentation>
									On success the time until this selection is valid.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="ControlEvseRequest">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="directId" type="tns:DirectId">
							<s:annotation>
								<s:documentation>
									The session id referencing the direct charging process to be controlled.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="1" maxOccurs="1" name="operation" type="tns:DirectOperation">
							<s:annotation>
								<s:documentation>
									The operation to be performed for the selected charge point.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="maxPower" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Maximum authorised power in kilowatts. Example: "3.7", "8", "15"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="maxCurrent" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Maximum authorised current in ampere. Example: "16", "25", "32"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="onePhase" type="s:boolean" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Marks an AC-charging session to be limited to one-phase charging. 
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="maxEnergy" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Maximum authorised energy in kilowatthours. Example: "5.5", "20", "85"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="minEnergy" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Minimum required energy in kilowatthours. Example: "5.5", "20", "85"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="departure" type="tns:DateTimeType" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Scheduled time of departure. Only to be used for smart charging purposes.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="ControlEvseResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:DirectResult">
							<s:annotation>
								<s:documentation>
									This contains the result of ControlEvse.req.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="1" name="directId" type="tns:DirectId">
							<s:annotation>
								<s:documentation>
									The session id for this direct charging process.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="1" name="ttl" type="tns:DateTimeType">
							<s:annotation>
								<s:documentation>
									On success the timeout for this session.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="ReleaseEvseRequest">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="directId" type="tns:DirectId">
							<s:annotation>
								<s:documentation>
									The session id referencing the direct charging process to be released.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="ReleaseEvseResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:DirectResult">
							<s:annotation>
								<s:documentation>
									This contains the result of ReleaseEvse.req.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="1" name="directId" type="tns:DirectId">
							<s:annotation>
								<s:documentation>
									The session id for this direct charging process.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="1" name="ttl" type="tns:DateTimeType">
							<s:annotation>
								<s:documentation>
									On success the timeout for this session.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="InformProviderMessage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:DirectResult">
							<s:annotation>
								<s:documentation>
									This contains the result if the EMP requested InformProvider from the CPO. If InformProviderMessage is sent by the CPO towards the EMP as a request, this element must not be used.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="1" maxOccurs="1" name="message" type="tns:DirectMessage">
							<s:annotation>
								<s:documentation>
									The operation to be performed for the selected charge point.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="evseId" type="tns:EvseId" minOccurs="1" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									The charge point which is used for this charging process.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="contractId" type="tns:ContractId" minOccurs="1" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Contract-ID to which the charge point is assigned.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="1" maxOccurs="1" name="directId" type="tns:DirectId">
							<s:annotation>
								<s:documentation>
									The session id for this direct charging process.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="1" name="ttl" type="tns:DateTimeType">
							<s:annotation>
								<s:documentation>
									The timeout for this session.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="maxPower" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Maximum authorised power in kilowatts. Example: "3.7", "8", "15"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="maxCurrent" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Maximum authorised current in ampere. Example: "16", "25", "32"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="onePhase" type="s:boolean" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Marks an AC-charging session to be limited to one-phase charging. 
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="maxEnergy" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Maximum authorised energy in kilowatthours. Example: "5.5", "20", "85"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="minEnergy" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Minimum required energy in kilowatthours. Example: "5.5", "20", "85"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="departure" type="tns:DateTimeType" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									Scheduled time of departure. Only to be used for smart charging purposes.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="currentPower" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									The currently supplied power limit in kilowatts in case of load management. Example: "3.7", "8", "15"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="chargedEnergy" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									The amount of energy in kilowatthours transferred during this charging process. Example: "5.5", "20", "85"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="meterReading" type="tns:MeterReading" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									The current meter value (in kWh) as displayed on the meter to enable displaying it to the user. Example: "12345.67"
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="chargingPeriods" type="tns:CdrPeriodType" minOccurs="0" maxOccurs="unbounded">
							<s:annotation>
								<s:documentation>
									One period per item on the bill.
								</s:documentation>
							</s:annotation>
						</s:element>						
						<s:element name="currentCost" type="s:float" minOccurs="0" maxOccurs="1">
							<s:annotation>
								<s:documentation>
									The total cost of the charging process up to this point.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="currency" type="s:string" minOccurs="0" maxOccurs="1" nillable="true">
							<s:annotation>
								<s:documentation>
									Alphabetic. The displayed and charged currency. Defined in ISO 4217 - Table A.1, alphabetic list.
								</s:documentation>
							</s:annotation>
							<s:restriction base="s:string">
								<s:pattern value="[A-Z]*"></s:pattern>
								<s:minLength value="3"></s:minLength>
								<s:maxLength value="3"></s:maxLength>
							</s:restriction>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="InformProviderResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:DirectResult">
							<s:annotation>
								<s:documentation>
									This contains the result of InformProvider.req.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			
			<s:element name="InformProviderRequest">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="directId" type="tns:DirectId">
							<s:annotation>
								<s:documentation>
									The session id for this direct charging process.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:simpleType name="DirectId">
				<s:annotation>
					<s:documentation>
						Defines a pattern that matches EVSE-IDs. The pattern must be specified for IDs without optional seperators. Seperators in the ID's instance are handled as part of the alphabet. The wildcard character for the pattern is %.
					</s:documentation>
				</s:annotation>
				<s:restriction base="s:string">
					<s:pattern value="[A-Z0-9\-]*"></s:pattern>
					<s:minLength value="1"></s:minLength>
					<s:maxLength value="255"></s:maxLength>
				</s:restriction>
			</s:simpleType>

			<s:complexType name="DirectOperation">
				<s:sequence>
					<s:element name="operation">
						<s:annotation>
							<s:documentation>
								start: Initiate the start. Operator should allow the user to plug in;
								change: Change the parameters of the charging process;
								end: End the charging process. Operator should allow the user to plug out;
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:enumeration value="start"></s:enumeration>
								<s:enumeration value="change"></s:enumeration>
								<s:enumeration value="end"></s:enumeration>
							</s:restriction>
						</s:simpleType>
					</s:element>
				</s:sequence>
			</s:complexType>

			<s:complexType name="DirectMessage">
				<s:sequence>
					<s:element name="message">
						<s:annotation>
							<s:documentation>
								start: A OCHP-direct charging process has been started;
								change: The parameters of the charging process were changed;
								info: A informative update is available, e.g. updated consumed energy value;
								end: The charging process has ended, the connector was unplugged;
								finish: The session is finished and the CDR was sent out;
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:enumeration value="start"></s:enumeration>
								<s:enumeration value="change"></s:enumeration>
								<s:enumeration value="info"></s:enumeration>
								<s:enumeration value="end"></s:enumeration>
								<s:enumeration value="finish"></s:enumeration>
							</s:restriction>
						</s:simpleType>
					</s:element>
				</s:sequence>
			</s:complexType>

			<s:complexType name="MeterReading">
				<s:annotation>
					<s:documentation>
						Most current meter readings transferred from the charge point including time stamp.
					</s:documentation>
				</s:annotation>
				<s:sequence>
					<s:element minOccurs="1" maxOccurs="1" name="meterValue" type="s:float">
						<s:annotation>
							<s:documentation>
								The meter reading as transferred by the charging station (OCPP default unit: Wh).
							</s:documentation>
						</s:annotation>
					</s:element>
					<s:element minOccurs="1" maxOccurs="1" name="meterTime" type="s:LocalDateTimeType">
						<s:annotation>
							<s:documentation>
								The exact local time stamp of the time the meter reading was taken (belonging to the meter reading, e.g. as transferred by OCPP).
							</s:documentation>
						</s:annotation>
					</s:element>
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>

<!-- ===================================================================
                        Messages
==================================================================== -->

	<wsdl:message name="AddServiceEndpointsInput">
		<wsdl:part name="parameters"
				element="tns:AddServiceEndpointsRequest" />
	</wsdl:message>

	<wsdl:message name="AddServiceEndpointsOutput">
		<wsdl:part name="parameters"
				element="tns:AddServiceEndpointsResponse" />
	</wsdl:message>

	<wsdl:message name="GetServiceEndpointsInput">
		<wsdl:part name="parameters"
				element="tns:GetServiceEndpointsRequest" />
	</wsdl:message>

	<wsdl:message name="GetServiceEndpointsOutput">
		<wsdl:part name="parameters"
				element="tns:GetServiceEndpointsResponse" />
	</wsdl:message>


<!-- Messages for the direct communication -->

	<wsdl:message name="GetEvseStatusInput">
		<wsdl:part name="parameters"
				element="tns:DirectEvseStatusRequest" />
	</wsdl:message>
	<wsdl:message name="GetEvseStatusOutput">
		<wsdl:part name="parameters"
				element="tns:GetStatusResponse" />
	</wsdl:message>

	<wsdl:message name="ReportDiscrepancyInput">
		<wsdl:part name="parameters"
				element="tns:ReportDiscrepancyRequest" />
	</wsdl:message>
	<wsdl:message name="ReportDiscrepancyOutput">
		<wsdl:part name="parameters"
				element="tns:ReportDiscrepancyResponse" />
	</wsdl:message>

	<wsdl:message name="SelectEvseInput">
		<wsdl:part name="parameters"
				element="tns:SelectEvseRequest" />
	</wsdl:message>
	<wsdl:message name="SelectEvseOutput">
		<wsdl:part name="parameters"
				element="tns:SelectEvseResponse" />
	</wsdl:message>

	<wsdl:message name="ControlEvseInput">
		<wsdl:part name="parameters"
				element="tns:ControlEvseRequest" />
	</wsdl:message>
	<wsdl:message name="ControlEvseOutput">
		<wsdl:part name="parameters"
				element="tns:ControlEvseResponse" />
	</wsdl:message>

	<wsdl:message name="ReleaseEvseInput">
		<wsdl:part name="parameters"
				element="tns:ReleaseEvseRequest" />
	</wsdl:message>
	<wsdl:message name="ReleaseEvseOutput">
		<wsdl:part name="parameters"
				element="tns:ReleaseEvseResponse" />
	</wsdl:message>

	<wsdl:message name="InformProviderEMPInput">
		<wsdl:part name="parameters"
				element="tns:InformProviderMessage" />
	</wsdl:message>
	<wsdl:message name="InformProviderEMPOutput">
		<wsdl:part name="parameters"
				element="tns:InformProviderResponse" />
	</wsdl:message>
	
	<wsdl:message name="InformProviderCPOInput">
		<wsdl:part name="parameters"
				element="tns:InformProviderRequest" />
	</wsdl:message>
	<wsdl:message name="InformProviderCPOOutput">
		<wsdl:part name="parameters"
				element="tns:InformProviderMessage" />
	</wsdl:message>


<!-- ===================================================================
                        Port Definitions
==================================================================== -->

	<wsdl:portType name="OCHP_1.4-direct">

		<wsdl:documentation>
			OCHP Version 1.4 Interface + OCHP direct extension
		</wsdl:documentation>

		<wsdl:operation name="AddServiceEndpoints">
			<wsdl:documentation>
				The backend of each roaming partner has to send the definition of its OCHP direct interface to the Clearing House to share that data with their connected roaming partners.
			</wsdl:documentation>
			<wsdl:input message="tns:AddServiceEndpointsInput" />
			<wsdl:output message="tns:AddServiceEndpointsOutput" />
		</wsdl:operation>
		<wsdl:operation name="GetServiceEndpoints">
			<wsdl:documentation>
				The backend of each roaming partner has to fetch the global list of interface definitions from the CHS.
			</wsdl:documentation>
			<wsdl:input message="tns:GetServiceEndpointsInput" />
			<wsdl:output message="tns:GetServiceEndpointsOutput" />
		</wsdl:operation>
	</wsdl:portType>


<!-- Port definition for EVSE-Operator backends -->

	<wsdl:portType name="Operator_OCHP-direct_0.2">

		<wsdl:documentation>
			OCHP-direct Version 0.2 Interface for the EVSE-Operator backend
		</wsdl:documentation>

		<wsdl:operation name="GetEvseStatus">
			<wsdl:documentation>
				Request the live status for a list of EVSEs without latency through the Clearing House.
			</wsdl:documentation>
			<wsdl:input message="tns:GetEvseStatusInput" />
			<wsdl:output message="tns:GetEvseStatusOutput" />
		</wsdl:operation>

		<wsdl:operation name="ReportDiscrepancy">
			<wsdl:documentation>
				Report an issue concerning the data or the compatibility or status of an EVSE to the operator to their information.
			</wsdl:documentation>
			<wsdl:input message="tns:ReportDiscrepancyInput" />
			<wsdl:output message="tns:ReportDiscrepancyOutput" />
		</wsdl:operation>

		<wsdl:operation name="SelectEvse">
			<wsdl:documentation>
				Select an EVSE in an operator's backend. This starts the session and generates the OCHP-direct session ID.
			</wsdl:documentation>
			<wsdl:input message="tns:SelectEvseInput" />
			<wsdl:output message="tns:SelectEvseOutput" />
		</wsdl:operation>

		<wsdl:operation name="ControlEvse">
			<wsdl:documentation>
				Control a selected EVSE in the limits of the charging process.
			</wsdl:documentation>
			<wsdl:input message="tns:ControlEvseInput" />
			<wsdl:output message="tns:ControlEvseOutput" />
		</wsdl:operation>

		<wsdl:operation name="ReleaseEvse">
			<wsdl:documentation>
				The provider should release the prior selected EVSE after the charging process.
			</wsdl:documentation>
			<wsdl:input message="tns:ReleaseEvseInput" />
			<wsdl:output message="tns:ReleaseEvseOutput" />
		</wsdl:operation>
		
		<wsdl:operation name="InformProviderCPO">
			<wsdl:documentation>
				The provider can request information for an ongoing charging process.
			</wsdl:documentation>
			<wsdl:input message="tns:InformProviderCPOInput" />
			<wsdl:output message="tns:InformProviderCPOOutput" />
		</wsdl:operation>
	</wsdl:portType>

<!-- Port definition for Service Provider backends -->

	<wsdl:portType name="Provider_OCHP-direct_0.2">

		<wsdl:documentation>
			OCHP-direct Version 0.2 Interface for the Service Provider backend
		</wsdl:documentation>

		<wsdl:operation name="InformProviderEMP">
			<wsdl:documentation>
				When a status update to a charging process gets available, the operator informs the concerned provider.
			</wsdl:documentation>
			<wsdl:input message="tns:InformProviderEMPInput" />
			<wsdl:output message="tns:InformProviderEMPOutput" />
		</wsdl:operation>
	</wsdl:portType>


<!-- ===================================================================
                        Binding Definitions
==================================================================== -->

	<wsdl:binding name="eCHS-OCHP_1.4-direct" type="tns:OCHP_1.4-direct">

		<wsdl:documentation>
			OCHP Version 1.4 Interface with OCHP direct extension
		</wsdl:documentation>

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="AddServiceEndpoints">
			<soap:operation soapAction="http://ochp.eu/direct/0.2/AddServiceEndpoints" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetServiceEndpoints">
			<soap:operation soapAction="http://ochp.eu/direct/0.2/GetServiceEndpoints" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>


<!-- Binding for EVSE-Operator backends -->

	<wsdl:binding name="Operator_OCHP-direct_0.2" type="tns:Operator_OCHP-direct_0.2">

		<wsdl:documentation>
			OCHP-direct Version 0.2 Interface for the EVSE-Operator backend
		</wsdl:documentation>

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="ReportDiscrepancy">
			<soap:operation soapAction="http://ochp.eu/direct/0.2/ReportDiscrepancy" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetEvseStatus">
			<soap:operation soapAction="http://ochp.eu/direct/0.2/GetEvseStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SelectEvse">
			<soap:operation soapAction="http://ochp.eu/direct/0.2/SelectEvse" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ControlEvse">
			<soap:operation soapAction="http://ochp.eu/direct/0.2/ControlEvse" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ReleaseEvse">
			<soap:operation soapAction="http://ochp.eu/direct/0.2/ReleaseEvse" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="InformProviderCPO">
			<soap:operation soapAction="http://ochp.eu/direct/0.2/InformProviderCPO" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		

	</wsdl:binding>


<!-- Binding for Service Provider backends -->

	<wsdl:binding name="Provider_OCHP-direct_0.2" type="tns:Provider_OCHP-direct_0.2">

		<wsdl:documentation>
			OCHP-direct Version 0.2 Interface for the Service Provider backend
		</wsdl:documentation>

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="InformProviderEMP">
			<soap:operation soapAction="http://ochp.eu/direct/0.2/InformProviderEMP" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>

<!-- ===================================================================
                        Service Definition
==================================================================== -->

	<wsdl:service name="e-clearing.net-OCHP-direct">

		<wsdl:documentation>
			EEN European Emobility Network - EV Clearing Platform
		</wsdl:documentation>

		<wsdl:port name="eCHS_P-System" binding="tns:eCHS-OCHP_1.4">
			<wsdl:documentation>
				eCHS Productive System Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs.e-clearing.net/service/ochp/v1.4" />
		</wsdl:port>

		<wsdl:port name="eCHS_Q-System" binding="tns:eCHS-OCHP_1.4">
			<wsdl:documentation>
				eCHS Quality Ensurance System Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs-q.e-clearing.net/service/ochp/v1.4" />
		</wsdl:port>

<!-- Endpoints for the Live POI Interface -->

		<wsdl:port name="eCHS_P-System-live" binding="tns:eCHS-OCHP_1.4-live">
			<wsdl:documentation>
				eCHS Live-POI Productive System Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs.e-clearing.net/live/ochp/v1.4" />
		</wsdl:port>

		<wsdl:port name="eCHS_Q-System-live" binding="tns:eCHS-OCHP_1.4-live">
			<wsdl:documentation>
				eCHS Live-POI Quality Ensurance Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs-q.e-clearing.net/live/ochp/v1.4" />
		</wsdl:port>

<!-- Endpoints for the Direct Extension -->

		<wsdl:port name="eCHS_P-System-direct" binding="tns:eCHS-OCHP_1.4-direct">
			<wsdl:documentation>
				eCHS Productive System Endpoint with OCHPdirect extension
			</wsdl:documentation>
			<soap:address location="https://echs.e-clearing.net/direct/ochp/v1.4" />
		</wsdl:port>

		<wsdl:port name="eCHS_Q-System-direct" binding="tns:eCHS-OCHP_1.4-direct">
			<wsdl:documentation>
				eCHS Quality Ensurance Endpoint with OCHPdirect extension
			</wsdl:documentation>
			<soap:address location="https://echs-q.e-clearing.net/direct/ochp/v1.4" />
		</wsdl:port>

<!-- Non-productive example Endpoints for the Direct Extension -->

             <wsdl:port name="eCHS_Q-System-direct-Provider" binding="tns:Provider_OCHP-direct_0.2">
                    <wsdl:documentation>
                           eCHS Quality Ensurance OCHPdirect Provider-Endpoint (Non-functional example)
                    </wsdl:documentation>
                    <soap:address location="https://echs-q.e-clearing.net/direct/provider/ochp/v1.4" />
             </wsdl:port>
             
             <wsdl:port name="eCHS_Q-System-direct-Operator" binding="tns:Operator_OCHP-direct_0.2">
                    <wsdl:documentation>
                           eCHS Quality Ensurance OCHPdirect Operator-Endpoint (Non-functional example)
                    </wsdl:documentation>
                    <soap:address location="https://echs-q.e-clearing.net/direct/operator/ochp/v1.4" />
             </wsdl:port>

	</wsdl:service>

</wsdl:definitions>
