ochp-direct.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>

<!-- ===================================================================

                  OCHP-direct 0.1 Web Service Description

This document defines a standard interface between different parties in 
the market of electric vehicle charging infrastructure and a clearing 
house that provides a common data routing and exchange platform for all 
these market shareholders.

Please note that the given documentation tags are not holding all
available information. For a full interface description please refer
to the OCHP specification PDF you can download from http://ochp.eu.

 
 Copyright Information:
This work is licensed under the Creative Commons 
Attribution-NoDerivatives 4.0 International License. 
To view a copy of this license, visit 
http://creativecommons.org/licenses/by-nd/4.0/.

==================================================================== -->


<wsdl:definitions name="OCHP_direct_0.1"
	targetNamespace="http://ochp.eu/1.3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:p="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://ochp.eu/1.3">

	<wsdl:documentation>
		Open Clearing House Protocol (OCHP) direct Extension Version 0.1
	</wsdl:documentation>

	<wsdl:import namespace="http://ochp.eu/1.3" location="ochp.wsdl"/>

	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://ochp.eu/1.3">

			<s:element name="AddServiceEndpointsRequest">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="unbounded" name="providerEndpointArray" type="tns:ProviderEndpoint">
							<s:annotation>
								<s:documentation>
									Array of endpoints of the partners provider system.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="unbounded" name="operatorEndpointArray" type="tns:OperatorEndpoint">
							<s:annotation>
								<s:documentation>
									Array of endpoints of the partners operator system.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="AddServiceEndpointsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
							<s:annotation>
								<s:documentation>
									This contains the result of AddServiceEndpoints.req
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:element name="GetServiceEndpointsRequest">
				<s:complexType>
					<s:annotation>
						<s:documentation>
							Defines the GetServiceEndpoints.req.
						</s:documentation>
					</s:annotation>
				</s:complexType>
			</s:element>

			<s:element name="GetServiceEndpointsResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
							<s:annotation>
								<s:documentation>
									This contains the result of GetServiceEndpoints.req
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="unbounded" name="providerEndpointArray" type="tns:ProviderEndpoint">
							<s:annotation>
								<s:documentation>
									Array of endpoints of all providers connected to the requester.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element minOccurs="0" maxOccurs="unbounded" name="operatorEndpointArray" type="tns:OperatorEndpoint">
							<s:annotation>
								<s:documentation>
									Array of endpoints of all operators connected to the requester.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

			<s:complexType name="DirectEndpoint">
				<s:sequence>
					<s:element name="url" minOccurs="1" maxOccurs="1">
						<s:annotation>
							<s:documentation>
								The endpoint address.
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:pattern value="https:\/\/.+"></s:pattern>
								<s:maxLength value="255"></s:maxLength>
							</s:restriction>
						</s:simpleType>
					</s:element>
					<s:element name="namespaceUrl" minOccurs="0" maxOccurs="1">
						<s:annotation>
							<s:documentation>
								The WSDL namespace definition.
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:maxLength value="255"></s:maxLength>
								<s:enumeration value="http://ochp.eu/1.3"></s:enumeration>
							</s:restriction>
						</s:simpleType>
					</s:element>
					<s:element name="accessToken" minOccurs="1" maxOccurs="1">
						<s:annotation>
							<s:documentation>
								The secret token to access this endpoint.
							</s:documentation>
						</s:annotation>
						<s:simpleType>
							<s:restriction base="s:string">
								<s:maxLength value="255"></s:maxLength>
							</s:restriction>
						</s:simpleType>
					</s:element>
					<s:element name="validUntil" type="tns:DateTimeType" minOccurs="1" maxOccurs="1">
						<s:annotation>
							<s:documentation>
								The date till when this endpoint/token combination is valid.
							</s:documentation>
						</s:annotation>
					</s:element>
				</s:sequence>
			</s:complexType>

			<s:complexType name="ProviderEndpoint">
				<s:complexContent>
					<s:extension base="tns:DirectEndpoint">
						<s:element name="whitelist" type="tns:ContractPattern" minOccurs="1" maxOccurs="unbounded">
							<s:annotation>
								<s:documentation>
									List of patterns that match all Contract-IDs the endpoint is responsible for.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="blacklist" type="tns:ContractPattern" minOccurs="0" maxOccurs="unbounded">
							<s:annotation>
								<s:documentation>
									List of patterns that match Contract-IDs the endpoint is not responsible for, but are matched by the whitelist.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:extension>
				</s:complexContent>
			</s:complexType>

			<s:complexType name="OperatorEndpoint">
				<s:complexContent>
					<s:extension base="tns:DirectEndpoint">
						<s:element name="whitelist" type="tns:EvsePattern" minOccurs="1" maxOccurs="unbounded">
							<s:annotation>
								<s:documentation>
									List of patterns that match all EVSE-IDs the endpoint is responsible for.
								</s:documentation>
							</s:annotation>
						</s:element>
						<s:element name="blacklist" type="tns:EvsePattern" minOccurs="0" maxOccurs="unbounded">
							<s:annotation>
								<s:documentation>
									List of patterns that match EVSE-IDs the endpoint is not responsible for, but are matched by the whitelist.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:extension>
				</s:complexContent>
			</s:complexType>

			<s:simpleType name="ContractPattern">
				<s:annotation>
					<s:documentation>
						Defines a pattern that matches Contract-IDs. The pattern must be specified for IDs without optional seperators. The wildcard character for the pattern is %. The pattern as well as the ID is case sensitive.
					</s:documentation>
				</s:annotation>
				<s:restriction base="s:string">
					<s:pattern value="[A-Za-z]{2}[A-Za-z0-9]{3}[Cc][A-Za-z0-9]{0,9}%?"></s:pattern>
				</s:restriction>
			</s:simpleType>

			<s:simpleType name="EvsePattern">
				<s:annotation>
					<s:documentation>
						Defines a pattern that matches EVSE-IDs. The pattern must be specified for IDs without optional seperators. Seperators in the ID's instance are handled as part of the alphabet. The wildcard character for the pattern is %.
					</s:documentation>
				</s:annotation>
				<s:restriction base="s:string">
					<s:pattern value="[A-Z]{2}[A-Z0-9]{3}[E]([A-Z0-9]?[A-Z0-9\*]{0,30})%?"></s:pattern>
				</s:restriction>
			</s:simpleType>


<!-- Elements and types for the direct communication -->

			<s:element name="DirectEvseStatusRequest">
				<s:complexType>
					<s:sequence>
						<s:element name="requestedEvseId" type="tns:EvseId" minOccurs="1" maxOccurs="unbounded">
							<s:annotation>
								<s:documentation>
									List of EVSE-IDs the live status is requested for.
								</s:documentation>
							</s:annotation>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>

		</s:schema>
	</wsdl:types>

<!-- ===================================================================
                        Messages
==================================================================== -->

	<wsdl:message name="AddServiceEndpointsInput">
		<wsdl:part name="parameters"
				element="tns:AddServiceEndpointsRequest" />
	</wsdl:message>

	<wsdl:message name="AddServiceEndpointsOutput">
		<wsdl:part name="parameters"
				element="tns:AddServiceEndpointsResponse" />
	</wsdl:message>

	<wsdl:message name="GetServiceEndpointsInput">
		<wsdl:part name="parameters"
				element="tns:AddServiceEndpointsRequest" />
	</wsdl:message>

	<wsdl:message name="GetServiceEndpointsOutput">
		<wsdl:part name="parameters"
				element="tns:AddServiceEndpointsResponse" />
	</wsdl:message>


<!-- Messages for the direct communication -->

	<wsdl:message name="GetEvseStatusInput">
		<wsdl:part name="parameters"
				element="tns:DirectEvseStatusRequest" />
	</wsdl:message>
	<wsdl:message name="GetEvseStatusOutput">
		<wsdl:part name="parameters"
				element="tns:GetStatusResponse" />
	</wsdl:message>


<!-- ===================================================================
                        Port Definitions
==================================================================== -->

	<wsdl:portType name="OCHP_1.3-direct">

		<wsdl:documentation>
			OCHP Version 1.3 Interface + OCHP direct extension
		</wsdl:documentation>

		<wsdl:operation name="AddServiceEndpoints">
			<wsdl:documentation>
				The backend of each roaming partner has to send the definition of its OCHP direct interface to the Clearing House to share that data with their connected roaming partners.
			</wsdl:documentation>
			<wsdl:input message="tns:AddServiceEndpointsInput" />
			<wsdl:output message="tns:AddServiceEndpointsOutput" />
		</wsdl:operation>
		<wsdl:operation name="GetServiceEndpoints">
			<wsdl:documentation>
				The backend of each roaming partner has to fetch the global list of interface definitions from the CHS.
			</wsdl:documentation>
			<wsdl:input message="tns:GetServiceEndpointsInput" />
			<wsdl:output message="tns:GetServiceEndpointsOutput" />
		</wsdl:operation>
	</wsdl:portType>


<!-- Port definition for EVSE-Operator backends -->

	<wsdl:portType name="Operator_OCHP-direct_0.1">

		<wsdl:documentation>
			OCHP-direct Version 0.1 Interface for the EVSE-Operator backend
		</wsdl:documentation>

		<wsdl:operation name="GetEvseStatus">
			<wsdl:documentation>
				Request the live status for a list of EVSEs without latency through the Clearing House.
			</wsdl:documentation>
			<wsdl:input message="tns:GetEvseStatusInput" />
			<wsdl:output message="tns:GetEvseStatusOutput" />
		</wsdl:operation>
	</wsdl:portType>


<!-- Port definition for Service Provider backends -->

	<wsdl:portType name="Provider_OCHP-direct_0.1">

		<wsdl:documentation>
			OCHP-direct Version 0.1 Interface for the Service Provider backend
		</wsdl:documentation>

	</wsdl:portType>


<!-- ===================================================================
                        Binding Definitions
==================================================================== -->

	<wsdl:binding name="eCHS-OCHP_1.3-direct" type="tns:OCHP_1.3-direct">

		<wsdl:documentation>
			OCHP Version 1.3 Interface with OCHP direct extension
		</wsdl:documentation>

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="AddServiceEndpoints">
			<soap:operation soapAction="http://ochp.eu/direct/0.1/AddServiceEndpoints" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetServiceEndpoints">
			<soap:operation soapAction="http://ochp.eu/direct/0.1/GetServiceEndpoints" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>


<!-- Binding for EVSE-Operator backends -->

	<wsdl:binding name="Operator_OCHP-direct_0.1" type="tns:Operator_OCHP-direct_0.1">

		<wsdl:documentation>
			OCHP-direct Version 0.1 Interface for the EVSE-Operator backend
		</wsdl:documentation>

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="GetEvseStatus">
			<soap:operation soapAction="http://ochp.eu/direct/0.1/GetEvseStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>


<!-- Binding for Service Provider backends -->

	<wsdl:binding name="Provider_OCHP-direct_0.1" type="tns:Provider_OCHP-direct_0.1">

		<wsdl:documentation>
			OCHP-direct Version 0.1 Interface for the Service Provider backend
		</wsdl:documentation>

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

	</wsdl:binding>

<!-- ===================================================================
                        Service Definition
==================================================================== -->

	<wsdl:service name="e-clearing.net (with OCHP-direct Extension)">

		<wsdl:documentation>
			EEN European Emobility Network - EV Clearing Platform
		</wsdl:documentation>

		<wsdl:port name="eCHS_P-System" binding="tns:eCHS-OCHP_1.3">
			<wsdl:documentation>
				eCHS Productive System Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs.e-clearing.net/service/ochp/v1.3" />
		</wsdl:port>

		<wsdl:port name="eCHS_Q-System" binding="tns:eCHS-OCHP_1.3">
			<wsdl:documentation>
				eCHS Quality Ensurance System Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs-q.e-clearing.net/service/ochp/v1.3" />
		</wsdl:port>

<!-- Endpoints for the Live POI Interface -->

		<wsdl:port name="eCHS_P-System-live" binding="tns:eCHS-OCHP_1.3-live">
			<wsdl:documentation>
				eCHS Live-POI Productive System Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs.e-clearing.net/live/ochp/v1.3" />
		</wsdl:port>

		<wsdl:port name="eCHS_Q-System-live" binding="tns:eCHS-OCHP_1.3-live">
			<wsdl:documentation>
				eCHS Live-POI Quality Ensurance Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs-q.e-clearing.net/live/ochp/v1.3" />
		</wsdl:port>

<!-- Endpoints for the Direct Extension -->

		<wsdl:port name="eCHS_P-System-direct" binding="tns:eCHS-OCHP_1.3-direct">
			<wsdl:documentation>
				eCHS Productive System Endpoint with OCHP direct extension
			</wsdl:documentation>
			<soap:address location="https://echs.e-clearing.net/direct/ochp/v1.3" />
		</wsdl:port>

		<wsdl:port name="eCHS_Q-System-direct" binding="tns:eCHS-OCHP_1.3-direct">
			<wsdl:documentation>
				eCHS Quality Ensurance Endpoint with OCHP direct extension
			</wsdl:documentation>
			<soap:address location="https://echs-q.e-clearing.net/direct/ochp/v1.3" />
		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
