ochp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>

<!-- ===================================================================

                  OCHP 1.4 Web Service Description

This document defines a standard interface between different parties in
the market of electric vehicle charging infrastructure and a clearing
house that provides a common data routing and exchange platform for all
these market shareholders.

Please note that the given documentation tags are not holding all
available information. For a full interface description please refer
to the OCHP specification PDF you can download from http://ochp.eu.


Copyright (c) 2012-2015 smartlab, bluecorner.be, e-laad.nl

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

==================================================================== -->


<wsdl:definitions name="OCHP_1.4"
	targetNamespace="http://ochp.eu/1.4" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:p="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://ochp.eu/1.4">

	<wsdl:documentation>
		Open Clearing House Protocol (OCHP) Version 1.4
	</wsdl:documentation>

	<wsdl:types>
		<s:schema>
			<s:import namespace="http://ochp.eu/1.4" schemaLocation="types/message-elements.xsd"/>
			<s:import namespace="http://ochp.eu/1.4" schemaLocation="types/array-types.xsd"/>
			<s:import namespace="http://ochp.eu/1.4" schemaLocation="types/data-types.xsd"/>
			<s:import namespace="http://ochp.eu/1.4" schemaLocation="types/live-types.xsd"/>
		</s:schema>
	</wsdl:types>

<!-- ===================================================================
                        Messages
==================================================================== -->

<!-- Messages for the Exchange of Authorisation Data -->

	<wsdl:message name="GetRoamingAuthorisationListInput">
		<wsdl:part name="parameters"
				element="tns:GetRoamingAuthorisationListRequest" />
	</wsdl:message>
	<wsdl:message name="GetRoamingAuthorisationListOutput">
		<wsdl:part name="parameters"
				element="tns:GetRoamingAuthorisationListResponse" />
	</wsdl:message>

	<wsdl:message name="SetRoamingAuthorisationListInput">
		<wsdl:part name="parameters"
				element="tns:SetRoamingAuthorisationListRequest" />
	</wsdl:message>
	<wsdl:message name="SetRoamingAuthorisationListOutput">
		<wsdl:part name="parameters"
				element="tns:SetRoamingAuthorisationListResponse" />
	</wsdl:message>

	<wsdl:message name="GetRoamingAuthorisationListUpdatesRequest">
		<wsdl:part name="parameters"
				element="tns:GetRoamingAuthorisationListUpdatesRequest" />
	</wsdl:message>
	<wsdl:message name="GetRoamingAuthorisationListUpdatesResponse">
		<wsdl:part name="parameters"
				element="tns:GetRoamingAuthorisationListUpdatesResponse" />
	</wsdl:message>

	<wsdl:message name="UpdateRoamingAuthorisationListResponse">
		<wsdl:part name="parameters"
				element="tns:UpdateRoamingAuthorisationListResponse" />
	</wsdl:message>
	<wsdl:message name="UpdateRoamingAuthorisationListRequest">
		<wsdl:part name="parameters"
				element="tns:UpdateRoamingAuthorisationListRequest" />
	</wsdl:message>
	
	<wsdl:message name="GetSingleRoamingAuthorisationRequest">
		<wsdl:part name="parameters"
				element="tns:GetSingleRoamingAuthorisationRequest" />
	</wsdl:message>
	<wsdl:message name="GetSingleRoamingAuthorisationResponse">
		<wsdl:part name="parameters"
				element="tns:GetSingleRoamingAuthorisationResponse" />
	</wsdl:message>
<!-- Messages for the Exchange of Charge Data -->

	<wsdl:message name="AddCDRsInput">
		<wsdl:part name="parameters"
				element="tns:AddCDRsRequest" />
	</wsdl:message>
	<wsdl:message name="AddCDRsOutput">
		<wsdl:part name="parameters"
				element="tns:AddCDRsResponse" />
	</wsdl:message>

	<wsdl:message name="GetCDRsInput">
		<wsdl:part name="parameters"
				element="tns:GetCDRsRequest" />
	</wsdl:message>
	<wsdl:message name="GetCDRsOutput">
		<wsdl:part name="parameters"
				element="tns:GetCDRsResponse" />
	</wsdl:message>
	
	<wsdl:message name="CheckCDRsInput">
		<wsdl:part name="parameters"
				element="tns:CheckCDRsRequest" />
	</wsdl:message>
	<wsdl:message name="CheckCDRsOutput">
		<wsdl:part name="parameters"
				element="tns:CheckCDRsResponse" />
	</wsdl:message>

	<wsdl:message name="ConfirmCDRsRequest">
		<wsdl:part name="parameters"
				element="tns:ConfirmCDRsRequest" />
	</wsdl:message>
	<wsdl:message name="ConfirmCDRsResponse">
		<wsdl:part name="parameters"
				element="tns:ConfirmCDRsResponse" />
	</wsdl:message>

<!-- Messages for the Exchange of Charge Point Information -->

	<wsdl:message name="GetChargepointListInput">
		<wsdl:part name="parameters"
				element="tns:GetChargePointListRequest" />
	</wsdl:message>
	<wsdl:message name="GetChargepointListOutput">
		<wsdl:part name="parameters"
				element="tns:GetChargePointListResponse" />
	</wsdl:message>

	<wsdl:message name="SetChargepointListInput">
		<wsdl:part name="parameters"
				element="tns:SetChargePointListRequest" />
	</wsdl:message>
	<wsdl:message name="SetChargepointListOutput">
		<wsdl:part name="parameters"
				element="tns:SetChargePointListResponse" />
	</wsdl:message>

	<wsdl:message name="GetChargePointListUpdatesRequest">
		<wsdl:part name="parameters"
				element="tns:GetChargePointListUpdatesRequest" />
	</wsdl:message>
	<wsdl:message name="GetChargePointListUpdatesResponse">
		<wsdl:part name="parameters"
				element="tns:GetChargePointListUpdatesResponse" />
	</wsdl:message>

	<wsdl:message name="UpdateChargePointListRequest">
		<wsdl:part name="parameters"
				element="tns:UpdateChargePointListRequest" />
	</wsdl:message>
	<wsdl:message name="UpdateChargePointListResponse">
		<wsdl:part name="parameters"
				element="tns:UpdateChargePointListResponse" />
	</wsdl:message>

<!-- Messages for the Exchange of Charge Point Information -->

	<wsdl:message name="UpdateTariffsRequest">
		<wsdl:part name="parameters"
				element="tns:UpdateTariffsRequest" />
	</wsdl:message>
	<wsdl:message name="UpdateTariffsResponse">
		<wsdl:part name="parameters"
				element="tns:UpdateTariffsResponse" />
	</wsdl:message>
	
	<wsdl:message name="GetTariffUpdatesRequest">
		<wsdl:part name="parameters"
				element="tns:GetTariffUpdatesRequest" />
	</wsdl:message>
	<wsdl:message name="GetTariffUpdatesResponse">
		<wsdl:part name="parameters"
				element="tns:GetTariffUpdatesResponse" />
	</wsdl:message>
	
<!-- Messages for the Live Status Interface -->

	<wsdl:message name="UpdateStatusRequest">
		<wsdl:part name="parameters"
				element="tns:UpdateStatusRequest" />
	</wsdl:message>
	<wsdl:message name="UpdateStatusResponse">
		<wsdl:part name="parameters"
				element="tns:UpdateStatusResponse" />
	</wsdl:message>

	<wsdl:message name="GetStatusRequest">
		<wsdl:part name="parameters"
				element="tns:GetStatusRequest" />
	</wsdl:message>
	<wsdl:message name="GetStatusResponse">
		<wsdl:part name="parameters"
				element="tns:GetStatusResponse" />
	</wsdl:message>

<!-- ===================================================================
                        Port Definitions
==================================================================== -->

	<wsdl:portType name="OCHP_1.4">

		<wsdl:documentation>
			OCHP Version 1.4 Interface
		</wsdl:documentation>

		<wsdl:operation name="AddCDRs">
			<wsdl:documentation>
				Local roaming charge data records are sent from the CMS to the CHS.
			</wsdl:documentation>
			<wsdl:input message="tns:AddCDRsInput" />
			<wsdl:output message="tns:AddCDRsOutput" />
		</wsdl:operation>
		<wsdl:operation name="GetCDRs">
			<wsdl:documentation>
				Cleared roaming charge data records, held at the CHS are sent from the CHS to the MDM. Note that only cleared CDRs that concern the EVSP are sent according to the status specified in the request.
			</wsdl:documentation>
			<wsdl:input message="tns:GetCDRsInput" />
			<wsdl:output message="tns:GetCDRsOutput" />
		</wsdl:operation>
		<wsdl:operation name="CheckCDRs">
			<wsdl:documentation>
				Cleared roaming charge data records, held at the CHS are sent from the CHS to the CMS. Note that only CDRs sent by this EVSE operator are sent according to the status specified in the request.
			</wsdl:documentation>
			<wsdl:input message="tns:CheckCDRsInput" />
			<wsdl:output message="tns:CheckCDRsOutput" />
		</wsdl:operation>
		<wsdl:operation name="GetRoamingAuthorisationList">
			<wsdl:documentation>
				A CMS downloads the global authorisation data repository from the CHS.
			</wsdl:documentation>
			<wsdl:input message="tns:GetRoamingAuthorisationListInput" />
			<wsdl:output message="tns:GetRoamingAuthorisationListOutput" />
		</wsdl:operation>
		<wsdl:operation name="SetRoamingAuthorisationList">
			<wsdl:documentation>
				The MDM of each EVSP has to exchange the own authorisation data with the Clearing House to share that data with EVSE Operators.
			</wsdl:documentation>
			<wsdl:input message="tns:SetRoamingAuthorisationListInput" />
			<wsdl:output message="tns:SetRoamingAuthorisationListOutput" />
		</wsdl:operation>
		<wsdl:operation name="GetChargePointList">
			<wsdl:documentation>
				A NPS downloads the global charge point information from the CHS.
			</wsdl:documentation>
			<wsdl:input message="tns:GetChargepointListInput" />
			<wsdl:output message="tns:GetChargepointListOutput" />
		</wsdl:operation>
		<wsdl:operation name="SetChargepointList">
			<wsdl:documentation>
				Local roaming charge data records are sent from the CMS to the CHS.
			</wsdl:documentation>
			<wsdl:input message="tns:SetChargepointListInput" />
			<wsdl:output message="tns:SetChargepointListOutput" />
		</wsdl:operation>
		<wsdl:operation name="GetRoamingAuthorisationListUpdates">
			<wsdl:documentation>
				A CMS downloads the changes to the global authorisation data repository since the last synchronization from the CHS.
			</wsdl:documentation>
			<wsdl:input message="tns:GetRoamingAuthorisationListUpdatesRequest"></wsdl:input>
			<wsdl:output message="tns:GetRoamingAuthorisationListUpdatesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateRoamingAuthorisationList">
			<wsdl:documentation>
				For later updates of authorization data from the MDM to the Clearing House and the EVSE Operators, only the changed entries (delta) have to be transferred.
			</wsdl:documentation>
			<wsdl:input message="tns:UpdateRoamingAuthorisationListRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateRoamingAuthorisationListResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ConfirmCDRs">
			<wsdl:documentation>
				Cleared roaming charge data records, downloaded from the CHS are confirmed by the MDM. An EVSE-Operator has to confirm every downloaded CDR either with an accept or a revoke.
			</wsdl:documentation>
			<wsdl:input message="tns:ConfirmCDRsRequest"></wsdl:input>
			<wsdl:output message="tns:ConfirmCDRsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetChargePointListUpdates">
			<wsdl:documentation>
				A NPS downloads the changes to the global charge point information data repository since the last synchronization from the CHS.
			</wsdl:documentation>
			<wsdl:input message="tns:GetChargePointListUpdatesRequest"></wsdl:input>
			<wsdl:output message="tns:GetChargePointListUpdatesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateChargePointList">
			<wsdl:documentation>
				For later updates of charge point information from the CIMS to the Clearing House and the EVSPs, only the changed entries (delta) have to be transferred.
			</wsdl:documentation>
			<wsdl:input message="tns:UpdateChargePointListRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateChargePointListResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateTariffs">
			<wsdl:documentation>
				For all updates to tariff objects from the CIMS to the Clearing House and the EVSPs. Can contain single or multiple tariffs to update.
			</wsdl:documentation>
			<wsdl:input message="tns:UpdateTariffsRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateTariffsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTariffUpdates">
			<wsdl:documentation>
				Downloads all tariff objects from the Clearing House that have been updated since a given date and time. Can contain single or multiple tariffs.
			</wsdl:documentation>
			<wsdl:input message="tns:GetTariffUpdatesRequest"></wsdl:input>
			<wsdl:output message="tns:GetTariffUpdatesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetSingleRoamingAuthorisation">
			<wsdl:documentation>
				A CMS may request the Clearing House to authorize one single token for a charging session
			</wsdl:documentation>
			<wsdl:input message="tns:GetSingleRoamingAuthorisationRequest"></wsdl:input>
			<wsdl:output message="tns:GetSingleRoamingAuthorisationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="OCHP_1.4-live">

		<wsdl:documentation>
			OCHP Version 1.4 Live POI Interface
		</wsdl:documentation>

		<wsdl:operation name="UpdateStatus">
			<wsdl:documentation>
				A CMS may update the current live status of individual charging stations in the Clearing House to allow roaming partners to receive those statuses.
			</wsdl:documentation>
			<wsdl:input message="tns:UpdateStatusRequest"></wsdl:input>
			<wsdl:output message="tns:UpdateStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetStatus">
			<wsdl:documentation>
				A NPS may receive the current live status of individual charging stations from the Clearing House.
			</wsdl:documentation>
			<wsdl:input message="tns:GetStatusRequest"></wsdl:input>
			<wsdl:output message="tns:GetStatusResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

<!-- ===================================================================
                        Binding Definitions
==================================================================== -->

	<wsdl:binding name="eCHS-OCHP_1.4" type="tns:OCHP_1.4">

		<wsdl:documentation>
			OCHP Version 1.4 Interface
		</wsdl:documentation>

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="AddCDRs">
			<soap:operation soapAction="http://ochp.eu/1.4/AddCDRs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetCDRs">
			<soap:operation soapAction="http://ochp.eu/1.4/GetCDRs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="CheckCDRs">
			<soap:operation soapAction="http://ochp.eu/1.4/CheckCDRs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetRoamingAuthorisationList">
			<soap:operation soapAction="http://ochp.eu/1.4/GetRoamingAuthorisationList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SetRoamingAuthorisationList">
			<soap:operation soapAction="http://ochp.eu/1.4/SetRoamingAuthorisationList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetChargePointList">
			<soap:operation soapAction="http://ochp.eu/1.4/GetChargePointList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="SetChargepointList">
			<soap:operation soapAction="http://ochp.eu/1.4/SetChargepointList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetRoamingAuthorisationListUpdates">
			<soap:operation soapAction="http://ochp.eu/1.4/GetRoamingAuthorisationListUpdates" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="UpdateRoamingAuthorisationList">
			<soap:operation soapAction="http://ochp.eu/1.4/UpdateRoamingAuthorisationList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="ConfirmCDRs">
			<soap:operation soapAction="http://ochp.eu/1.4/ConfirmCDRs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetChargePointListUpdates">
			<soap:operation soapAction="http://ochp.eu/1.4/GetChargePointListUpdates" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="UpdateChargePointList">
			<soap:operation soapAction="http://ochp.eu/1.4/UpdateChargePointList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="UpdateTariffs">
			<soap:operation soapAction="http://ochp.eu/1.4/UpdateTariffs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="GetTariffUpdates">
			<soap:operation soapAction="http://ochp.eu/1.4/GetTariffUpdates" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetSingleRoamingAuthorisation">
			<soap:operation soapAction="http://ochp.eu/1.4/GetSingleRoamingAuthorisation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


<!-- Binding to the Live POI Interface -->

	<wsdl:binding name="eCHS-OCHP_1.4-live" type="tns:OCHP_1.4-live">

		<wsdl:documentation>
			OCHP Version 1.4 Live POI Interface
		</wsdl:documentation>

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="UpdateStatus">
			<soap:operation soapAction="http://ochp.e-clearing.net/service/UpdateStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetStatus">
			<soap:operation soapAction="http://ochp.e-clearing.net/service/GetStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

<!-- ===================================================================
                        Service Definition
==================================================================== -->

	<wsdl:service name="e-clearing.net">

		<wsdl:documentation>
			EEN European Emobility Network - EV Clearing Platform
		</wsdl:documentation>

		<wsdl:port name="eCHS_P-System" binding="tns:eCHS-OCHP_1.4">
			<wsdl:documentation>
				eCHS Productive System Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs.e-clearing.net/service/ochp/v1.4" />
		</wsdl:port>

		<wsdl:port name="eCHS_Q-System" binding="tns:eCHS-OCHP_1.4">
			<wsdl:documentation>
				eCHS Quality Ensurance System Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs-q.e-clearing.net/service/ochp/v1.4" />
		</wsdl:port>

<!-- Endpoints for the Live POI Interface -->

		<wsdl:port name="eCHS_P-System-live" binding="tns:eCHS-OCHP_1.4-live">
			<wsdl:documentation>
				eCHS Live-POI Productive System Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs.e-clearing.net/live/ochp/v1.4" />
		</wsdl:port>

		<wsdl:port name="eCHS_Q-System-live" binding="tns:eCHS-OCHP_1.4-live">
			<wsdl:documentation>
				eCHS Live-POI Quality Ensurance Endpoint
			</wsdl:documentation>
			<soap:address location="https://echs-q.e-clearing.net/live/ochp/v1.4" />
		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
