types/array-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema elementFormDefault="qualified" targetNamespace="http://ochp.eu/1.4.1" xmlns:tns="http://ochp.eu/1.4.1" xmlns:s="http://www.w3.org/2001/XMLSchema">

	<s:include schemaLocation="data-types.xsd"/>

	<s:complexType name="RoamingAuthorisationInfo">
		<s:annotation>
			<s:documentation>
				Whitelisted authorisation card info.
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="EmtId" type="tns:EmtId" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Electrical vehicle contract identifier.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="contractId" type="tns:ContractId" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						EMA-ID the token belongs to.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="permissions" type="tns:PermissionsType" minOccurs="1" maxOccurs="unbounded">
				<s:annotation>
					<s:documentation>
						The PermissionsType (enum) can be set to multiple options. Feature will help EMPs to have better structured and organized customer portfolio.
							AC
							DC
							CNG
							LNG
							Fuel
							H2
							Ethanol
							Other
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="printedNumber" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Might be used for manual authorisation.
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:minLength value="1"></s:minLength>
						<s:maxLength value="150"></s:maxLength>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element minOccurs="1" maxOccurs="1" name="expiryDate" type="tns:DateTimeType">
				<s:annotation>
					<s:documentation>
						Tokens may be used until the date of expiry is reached. To be handled by the partners systems. Expired roaming authorisations may be erased locally by each partner's system.
					</s:documentation>
				</s:annotation>
			</s:element>
		</s:sequence>
	</s:complexType>

	<s:complexType name="CDRInfo">
		<s:annotation>
			<s:documentation>CDR info.</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="CdrId" type="tns:CdrId" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Alphanumeric, Charge Data Record number. Unique per EVSE-ID.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="evseId" type="tns:EvseId" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Unique identifier for every EVSE following a common scheme with a major id-unit reflecting the country and the market partner issuing it.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="emtId" type="tns:EmtId" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Utilized token for this charging session.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="contractId" type="tns:ContractId" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Identifies a customer in the electric mobility charging context.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="status" type="tns:CdrStatusType" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Current status of the CDR. Must be set to "new" or "revised" by the issuing CMS. Shall not be changed by any partner but only by the CHS. "Revised" status is only possible for CDRs that have either status "accepted" or "declined".
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="startDateTime" type="tns:LocalDateTimeType" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Start date and time of charge session
						(login with the RFID badge). Local time
						of the charge point is used.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="endDateTime" type="tns:LocalDateTimeType" maxOccurs="1" minOccurs="1">
				<s:annotation>
					<s:documentation>
						End date and time of the charge session (log-off with the RFID badge or physical disconnect). Must be set in the local time of the charge point.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="duration" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Duration of the charge session. Example "000:18:00"
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:length value="9"></s:length>
						<s:pattern value="(\d\d\d):(\d\d):(\d\d)"></s:pattern>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="chargePointAddress" type="tns:AddressType" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Address of the charge point, consisting of housenumber, street, zipcode, city, country.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="chargePointType" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						The type of the charge point:
							  "AC"
							  "DC"
							  "Super_95"
							  "Super_Plus"
							  "Super_E10"
							  "Diesel"
							  "LPG"
							  "CNG"
							  "LNG"
							  "H2"
							  "Ethanol"
							  "AdBlue"
							  "Other"
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:enumeration value="AC"/>
						<s:enumeration value="DC"/>
						<s:enumeration value="Super_95"/>
						<s:enumeration value="Super_Plus"/>
						<s:enumeration value="Super_E10"/>
						<s:enumeration value="Diesel"/>
						<s:enumeration value="LPG"/>
						<s:enumeration value="CNG"/>
						<s:enumeration value="LNG"/>
						<s:enumeration value="H2"/>
						<s:enumeration value="Ethanol"/>
						<s:enumeration value="AdBlue"/>
						<s:enumeration value="Other"/>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="connectorType" type="tns:ConnectorType" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Type of utilized socket or connector
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="ratings" type="tns:RatingsType" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Defines the ratings for the charge point.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="meterId" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Written identification number of the physical energy meter, provided by the manufacturer. For future use.
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:minLength value="1"></s:minLength>
						<s:maxLength value="20"></s:maxLength>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="chargingPeriods" type="tns:CdrPeriodType" minOccurs="1" maxOccurs="unbounded">
				<s:annotation>
					<s:documentation>
						One period per item on the bill.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="totalCost" type="s:float" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Total cost for the entire charging process. Should always equal the sum of the individual periodCosts.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="currency" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Alphabetic. The displayed and charged currency. Defined in ISO 4217 - Table A.1, alphabetic list.
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:whiteSpace value="collapse"></s:whiteSpace>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="meteringInfo" type="tns:MeteringInfoType" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Array type to cater mainly the Eichrecht law.
					</s:documentation>
				</s:annotation>
			</s:element>
		</s:sequence>
	</s:complexType>

	<s:complexType name="ChargePointInfo">
		<s:annotation>
			<s:documentation>
				Static POI data regarding a charge point / EVSE.
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="evseId" type="tns:EvseId" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Globally unique identifier
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="locationId" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Alphanumeric. Identifies a location/pool of EVSEs. Unique within one EVSE Operator
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:minLength value="1"></s:minLength>
						<s:maxLength value="15"></s:maxLength>
						<s:pattern value="[A-Z0-9 ]{1,15}"></s:pattern>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="timestamp" type="tns:DateTimeType" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Recommended. Date and time of the latest data update for this ChargePointInfo. When set it must be updated if any value is changed.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="locationName" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Official name; should be unique in the geographical area
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:minLength value="1"></s:minLength>
						<s:maxLength value="100"></s:maxLength>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="locationNameLang" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Alpha, three characters. ISO-639-3 language code defining the language of the location name
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:length value="3"></s:length>
						<s:pattern value="[A-Z]{3}"></s:pattern>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="images" minOccurs="0" maxOccurs="unbounded" type="tns:EvseImageUrlType"></s:element>
			<s:element name="relatedResource" minOccurs="0" maxOccurs="unbounded" type="tns:RelatedResourceType"></s:element>
			<s:element name="chargePointAddress" type="tns:AddressType" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Address of the charge point, consisting of housenumber, street, zipcode, city, country.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="chargePointLocation" type="tns:GeoPointType" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Geographical location of the charge point itself (power outlet).
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="relatedLocation" type="tns:AdditionalGeoPointType" minOccurs="0" maxOccurs="unbounded">
				<s:annotation>
					<s:documentation>
						Geographical location of related points relevant to the user
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="timeZone" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						One of IANA tzdata's TZ-values representing the time zone of the location. Examples: "Europe/Oslo", "Europe/Zurich". (http://www.iana.org/time-zones)
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:maxLength value="255"></s:maxLength>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="openingTimes" type="tns:HoursType" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						The times the EVSE is operating and can be used for charging. Must nor be provided if operating hours are unsure/unknown
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="status" type="tns:ChargePointStatusType" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						The current status of the charge point.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="statusSchedule" type="tns:ChargePointScheduleType" minOccurs="0" maxOccurs="unbounded">
				<s:annotation>
					<s:documentation>
						Planned status changes in the future. If a time span matches with the current or displayed date, the corresponding value overwrites "status"
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="telephoneNumber" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Numeric. Service hotline for charging station to be displayed to the EV user. Separators recommended. Must include country code (e.g. +49).
						RegEx:
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:pattern value="[\+]{0,1}[1-9]{0,1}[0-9 \-]{1,17}"></s:pattern>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="location" type="tns:GeneralLocationType" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						The general type of the charge point location.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="parkingSpot" type="tns:ParkingSpotInfo" minOccurs="0" maxOccurs="unbounded">
				<s:annotation>
					<s:documentation>
						Information regarding a parking spot that can be used to access the EVSE.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="restriction" type="tns:RestrictionType" minOccurs="0" maxOccurs="unbounded">
				<s:annotation>
					<s:documentation>
						This value, if provided, represents the restriction to EVSE-usage for different purposes.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="authMethods" type="tns:AuthMethodType" minOccurs="1" maxOccurs="unbounded">
			</s:element>
			<s:element name="connectors" type="tns:ConnectorType" minOccurs="1" maxOccurs="unbounded">
				<s:annotation>
					<s:documentation>
						Which receptable type is/are present for a power outlet.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="chargePointType" minOccurs="1" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						The type of the charge point: (NOTE: tns should be defined and parameters should be seperately defined in the data-types!)
							  "AC"
							  "DC"
							  "Super_95"
							  "Super_Plus"
							  "Super_E10"
							  "Diesel"
							  "LPG"
							  "CNG"
							  "LNG"
							  "H2"
							  "Ethanol"
							  "AdBlue"
							  "Other"
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:enumeration value="AC"/>
						<s:enumeration value="DC"/>
						<s:enumeration value="Super_95"/>
						<s:enumeration value="Super_Plus"/>
						<s:enumeration value="Super_E10"/>
						<s:enumeration value="Diesel"/>
						<s:enumeration value="LPG"/>
						<s:enumeration value="CNG"/>
						<s:enumeration value="LNG"/>
						<s:enumeration value="H2"/>
						<s:enumeration value="Ethanol"/>
						<s:enumeration value="AdBlue"/>
						<s:enumeration value="Other"/>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="ratings" type="tns:RatingsType" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Defines the ratings for the charge point.
						Do not include for non-electric chargepoints.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="userInterfaceLang" minOccurs="0" maxOccurs="unbounded">
				<s:annotation>
					<s:documentation>
						Alpha, three characters. Language(s) of the user interface or printed on-site instructions. ISO-639-3 language code
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:pattern value="[A-Z]{3}"></s:pattern>
						<s:length value="3"></s:length>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="maxReservation" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						If a reservation of this charge point is possible, this is the maximum duration the CPO will allow a reservation for in minutes. Recommended: 30 or 60 minutes.
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:int">
						<s:minExclusive value="0"></s:minExclusive>
						<s:maxInclusive value="1000"></s:maxInclusive>
					</s:restriction>
				</s:simpleType>
			</s:element>
			<s:element name="meteringInfo" type="tns:MeteringInfoType" minOccurs="0" maxOccurs="1">
				<s:annotation>
					<s:documentation>
						Array type to cater mainly the Eichrecht law.
					</s:documentation>
				</s:annotation>
			</s:element>
		</s:sequence>
	</s:complexType>

	<s:complexType name="TariffInfo">
		<s:annotation>
			<s:documentation>
				Information about a tariff referenced at connector level.
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element name="tariffId" minOccurs="1" maxOccurs="1" type="tns:TariffId">
				<s:annotation>
					<s:documentation>
						Alphanumeric. Identifies a tariff. Unique within one EVSE Operator. Must begin with the Operator-ID, without separators.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element name="individualTariff" type="tns:IndividualTariffType" minOccurs="1" maxOccurs="unbounded">
				<s:annotation>
					<s:documentation>
						Element describing an individual tariff for a specific recipient. One default tariff without recipients must be provided.
					</s:documentation>
				</s:annotation>
			</s:element>
		</s:sequence>
	</s:complexType>
</s:schema>
