types/message-elements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema elementFormDefault="qualified" targetNamespace="http://ochp.eu/1.4.1" xmlns:tns="http://ochp.eu/1.4.1" xmlns:s="http://www.w3.org/2001/XMLSchema">

	<s:include schemaLocation="data-types.xsd"/>
	<s:include schemaLocation="array-types.xsd"/>
	<s:include schemaLocation="live-types.xsd"/>

	<s:complexType name="Result" abstract="false">
		<s:annotation>
			<s:documentation>
				General result
			</s:documentation>
		</s:annotation>
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="resultCode" type="tns:ResultCodeType">
				<s:annotation>
					<s:documentation>
						The machine-readable result code.
					</s:documentation>
				</s:annotation>
			</s:element>
			<s:element minOccurs="1" maxOccurs="1" nillable="true" name="resultDescription">
				<s:annotation>
					<s:documentation>
						The human-readable error description
					</s:documentation>
				</s:annotation>
				<s:simpleType>
					<s:restriction base="s:string">
						<s:maxLength value="1000"></s:maxLength>
					</s:restriction>
				</s:simpleType>
			</s:element>
		</s:sequence>
	</s:complexType>

	<s:element name="AddCDRsRequest">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="unbounded" name="cdrInfoArray" type="tns:CDRInfo">
					<s:annotation>
						<s:documentation>
							This contains one or more Charge Detail Records. The status must be set to "new" unless already declined CDRs are being "revised"or "rejected".
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="AddCDRsResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
					<s:annotation>
						<s:documentation>
							This contains the result of AddCDRs.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="implausibleCdrsArray" type="tns:CdrId" minOccurs="0" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							This contains the refused Charge Detail Records.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetCDRsRequest">
		<s:complexType>
			<s:annotation>
				<s:documentation>
					Defines the GetCDRs.req.
				</s:documentation>
			</s:annotation>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="cdrStatus" type="tns:CdrStatusType">
					<s:annotation>
						<s:documentation>
							Defines which status of CDRs to return to the EMP.
							Valid options: accepted, revised, approved, rejected.
							If not set, returns accepted and revised CDRs.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetCDRsResponse">
		<s:complexType>
			<s:annotation>
				<s:documentation>
					This result will be returned on a GetCDRs request.
				</s:documentation>
			</s:annotation>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
					<s:annotation>
						<s:documentation>
							This contains the result of GetCDRs.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element minOccurs="0" maxOccurs="unbounded" name="cdrInfoArray" type="tns:CDRInfo">
					<s:annotation>
						<s:documentation>
							This contains the CDRs with the defined status that have been sent towards the calling provider.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>
	
		<s:element name="CheckCDRsRequest">
		<s:complexType>
			<s:annotation>
				<s:documentation>
					Defines the CheckCDRs.req.
				</s:documentation>
			</s:annotation>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="cdrStatus" type="tns:CdrStatusType">
					<s:annotation>
						<s:documentation>
							Defines which status of CDRs to return to the CPO making the call.
							Valid options: declined (default, if not set), approved, rejected.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="CheckCDRsResponse">
		<s:complexType>
			<s:annotation>
				<s:documentation>
					This result will be returned on a CheckCDRs request.
				</s:documentation>
			</s:annotation>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
					<s:annotation>
						<s:documentation>
							This contains the result of CheckCDRs.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element minOccurs="0" maxOccurs="unbounded" name="cdrInfoArray" type="tns:CDRInfo">
					<s:annotation>
						<s:documentation>
							This contains the CDRs with the defined status that have been sent by the calling operator.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetRoamingAuthorisationListRequest">
		<s:complexType></s:complexType>
	</s:element>

	<s:element name="GetRoamingAuthorisationListResponse">
		<s:complexType>
			<s:annotation>
				<s:documentation>
					This result will be returned on a GetRoamingAuthorisationList request.
				</s:documentation>
			</s:annotation>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
					<s:annotation>
						<s:documentation>
							This contains the result of GetRoamingAuthorisationList.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element minOccurs="0" maxOccurs="unbounded" name="roamingAuthorisationInfoArray" type="tns:RoamingAuthorisationInfo">
					<s:annotation>
						<s:documentation>
							This contains the roaming authorisation records.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="SetRoamingAuthorisationListRequest">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="unbounded" name="roamingAuthorisationInfoArray" type="tns:RoamingAuthorisationInfo">
					<s:annotation>
						<s:documentation>
							This contains the roaming authorisation records.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="SetRoamingAuthorisationListResponse">
		<s:complexType>
			<s:annotation>
				<s:documentation>
					This result will be returned on a GetRoamingAuthorisationList request.
				</s:documentation>
			</s:annotation>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
					<s:annotation>
						<s:documentation>
							This contains the result of SetRoamingAuthorisationList.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element minOccurs="0" maxOccurs="unbounded" name="refusedRoamingAuthorisationInfo" type="tns:RoamingAuthorisationInfo">
					<s:annotation>
						<s:documentation>
							This contains the roaming authorisation records that could not be set in the clearing house. For error description see the result message.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetChargePointListRequest">
		<s:complexType>
			<s:annotation>
				<s:documentation>
					Defines the GetChargePointList.req.
				</s:documentation>
			</s:annotation>
		</s:complexType>
	</s:element>

	<s:element name="GetChargePointListResponse">
		<s:complexType>
			<s:annotation>
				<s:documentation>
					This result will be returned on a GetChargePointList request.
				</s:documentation>
			</s:annotation>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
					<s:annotation>
						<s:documentation>
							This contains the result of GetRoamingAuthorisationList.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element minOccurs="0" maxOccurs="unbounded" name="chargePointInfoArray" type="tns:ChargePointInfo">
					<s:annotation>
						<s:documentation>
							This contains the charge point information records
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="SetChargePointListRequest">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="unbounded" name="chargePointInfoArray" type="tns:ChargePointInfo">
					<s:annotation>
						<s:documentation>
							This contains the charge point information records
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="SetChargePointListResponse">
		<s:complexType>
			<s:annotation>
				<s:documentation>
					This result will be returned on a SetChargePointList request.
				</s:documentation>
			</s:annotation>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="result" type="tns:Result">
					<s:annotation>
						<s:documentation>
							This contains the result of SetChargePointList.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element minOccurs="0" maxOccurs="unbounded" name="refusedChargePointInfo" type="tns:ChargePointInfo">
					<s:annotation>
						<s:documentation>
							This contains the charge point information records that could not be set in the clearing house. For error description see the result message.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetRoamingAuthorisationListUpdatesRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="lastUpdate" type="tns:DateTimeType" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							Date and time since the last successful call of GetRoamingAuthorisationList.req or GetRoamingAuthorisationListUpdate.req
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetRoamingAuthorisationListUpdatesResponse">
		<s:complexType>
			<s:sequence>
				<s:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the result of GetRoamingAuthorisationListUpdate.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="roamingAuthorisationInfo" type="tns:RoamingAuthorisationInfo" minOccurs="0" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							This contains the roaming authorisation records changed since the time specified in lastUpdate in the request
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="UpdateRoamingAuthorisationListRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="roamingAuthorisationInfoArray" type="tns:RoamingAuthorisationInfo" minOccurs="1" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							This contains the roaming authorisation records to be updated or added
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="UpdateRoamingAuthorisationListResponse">
		<s:complexType>
			<s:sequence>
				<s:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the result of UpdateRoamingAuthorisationList.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element minOccurs="0" maxOccurs="unbounded" name="refusedRoamingAuthorisationInfo" type="tns:RoamingAuthorisationInfo">
					<s:annotation>
						<s:documentation>
							This contains the roaming authorisation records that could not be set in the clearing house. For error description see the result message.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="ConfirmCDRsRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="approved" minOccurs="0" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							This contains the CDRs that have been approved by the EVSP.
						</s:documentation>
					</s:annotation>
					<s:complexType>
						<s:sequence>
							<s:element name="cdrId" minOccurs="1" maxOccurs="1" type="tns:CdrId">
									<s:annotation>
										<s:documentation>
											This contains the CDR-ID of the CDR to be approved.
										</s:documentation>
									</s:annotation>
							</s:element>
							<s:element name="evseId" minOccurs="1" maxOccurs="1" type="tns:EvseId">
									<s:annotation>
										<s:documentation>
											This contains the EVSE-ID belonging to the CDR to be approved.
										</s:documentation>
									</s:annotation>
							</s:element>
						</s:sequence>
					</s:complexType>
				</s:element>
				<s:element name="declined" minOccurs="0" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							This contains the CDRs that have been declined by the EVSP.
						</s:documentation>
					</s:annotation>
					<s:complexType>
						<s:sequence>
							<s:element name="cdrId" minOccurs="1" maxOccurs="1" type="tns:CdrId">
									<s:annotation>
										<s:documentation>
											This contains the CDR-ID of the CDR to be declined.
										</s:documentation>
									</s:annotation>
							</s:element>
							<s:element name="evseId" minOccurs="1" maxOccurs="1" type="tns:EvseId">
									<s:annotation>
										<s:documentation>
											This contains the EVSE-ID belonging to the CDR to be declined.
										</s:documentation>
									</s:annotation>
							</s:element>
						</s:sequence>
					</s:complexType>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="ConfirmCDRsResponse">
		<s:complexType>
			<s:sequence>
				<s:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the result of ConfirmCDRs.req
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetChargePointListUpdatesRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="lastUpdate" type="tns:DateTimeType" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							Date and time since the last successful call of GetChargePointList.req of GetChargePointListUpdates.req
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetChargePointListUpdatesResponse">
		<s:complexType>
			<s:sequence>
				<s:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							this contains the result of GetChargePointListUpdates.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="chargePointInfoArray" type="tns:ChargePointInfo" minOccurs="0" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							This contains the charge point information records changed since the time specified in lastUpdate in the request
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="UpdateChargePointListRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="chargePointInfoArray" type="tns:ChargePointInfo" minOccurs="1" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							This contains the charge point information records to be updated or added
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="UpdateChargePointListResponse">
		<s:complexType>
			<s:sequence>
				<s:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the result of UpdateChargePointList.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element minOccurs="0" maxOccurs="unbounded" name="refusedChargePointInfo" type="tns:ChargePointInfo">
					<s:annotation>
						<s:documentation>
							This contains the charge point information records that could not be set in the clearing house. For error description see the result message.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>
	
	<s:element name="UpdateTariffsRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="TariffInfoArray" type="tns:TariffInfo" minOccurs="1" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							This contains the tariff information to be updated or added.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="UpdateTariffsResponse">
		<s:complexType>
			<s:sequence>
				<s:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the result of UpdateTariffs.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element minOccurs="0" maxOccurs="unbounded" name="refusedTariffInfo" type="tns:TariffInfo">
					<s:annotation>
						<s:documentation>
							This contains the charge point information records that could not be set in the clearing house. For error description see the result message.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>
	
	<s:element name="GetTariffUpdatesRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="lastUpdate" type="tns:DateTimeType" minOccurs="0" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							Date and time since the last successful call. If left empty, will return full list of valid tariffs.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetTariffUpdatesResponse">
		<s:complexType>
			<s:sequence>
				<s:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the result of GetChargePointListUpdates.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="TariffInfoArray" type="tns:TariffInfo" minOccurs="0" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							This contains the tariff information changed since the time specified in lastUpdate in the request (or all valid tariffs)
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>
	
	<s:element name="GetSingleRoamingAuthorisationRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="emtId" type="tns:EmtId" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the ID of the token which is to be retreived from the CHS.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetSingleRoamingAuthorisationResponse">
		<s:complexType>
			<s:sequence>
				<s:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the result of GetSingleRoamingAuthorisation.req
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="roamingAuthorisationInfo" type="tns:RoamingAuthorisationInfo" minOccurs="0" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the roaming authorisation record for the requested token, if the request was valid.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="UpdateStatusRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="evse" minOccurs="0" maxOccurs="unbounded" type="tns:EvseStatusType">
					<s:annotation>
						<s:documentation>
							This contains one EVSE id with the current status represented in a major part and a minor part.
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="parking" minOccurs="0" maxOccurs="unbounded" type="tns:ParkingStatusType">
					<s:annotation>
						<s:documentation>
							This contains one parking-ID with the current corresponding status.
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="ttl" type="tns:DateTimeType" minOccurs="0" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							The time to live is set as the deadline till the status values are to be considered valid, where not otherwise specified.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="UpdateStatusResponse">
		<s:complexType>
			<s:sequence>
				<s:element name="result" type="tns:Result" minOccurs="1" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							This contains the result of UpdateStatus.req
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetStatusRequest">
		<s:complexType>
			<s:sequence>
				<s:element name="startDateTime" type="tns:DateTimeType" minOccurs="0" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							If this value is set to a point in the past, the response is limited to status information that is younger than the given value.
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="statusType" minOccurs="0" maxOccurs="1">
					<s:annotation>
						<s:documentation>
							Allows specification of either evse, parking or combined status values to be returned. Not set / default: EVSE.
						</s:documentation>
					</s:annotation>
					<s:simpleType>
						<s:restriction base="s:string">
							<s:enumeration value="evse"></s:enumeration>
							<s:enumeration value="parking"></s:enumeration>
							<s:enumeration value="combined"></s:enumeration>
						</s:restriction>
					</s:simpleType>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>

	<s:element name="GetStatusResponse">
		<s:complexType>
			<s:choice>
				<s:element name="combined" type="tns:EvseStatusType" minOccurs="0" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							Status values for all EVSE that have been combined with parking status values according to static POI data.
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="evse" type="tns:EvseStatusType" minOccurs="0" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							Status values for all EVSE as sent to the eCHS by the EVSE operator.
						</s:documentation>
					</s:annotation>
				</s:element>
				<s:element name="parking" type="tns:ParkingStatusType" minOccurs="0" maxOccurs="unbounded">
					<s:annotation>
						<s:documentation>
							Status values for all parking spots as sent to the eCHS by the parking spot operator.
						</s:documentation>
					</s:annotation>
				</s:element>
			</s:choice>
		</s:complexType>
	</s:element>

</s:schema>
